# Things to ignore in this repository
# Created by https://www.toptal.com/developers/gitignore/api/java,maven,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,maven,intellij

### Intellij ###
**/.idea/*

### Mac OS specific ###
.DS_Store

